.form-check-inline .form-check-label {
    margin-right: 1rem; 
    margin-left: 2rem;
    font-size: 10px;
    
}


.option-collection{
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr;
}


.form-select select{

    max-width: 10%;
}