.navbar{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(143, 77, 77);
    padding: 10px 5%;
    transition: 0.5s;
    margin-left: 2%;
    
}

.nav-item{
    padding: 2px;
    width: 120px;
    margin-left: 0px;
}

.logo{
    width: 100px;
    cursor: pointer;
    max-height: 35px;
    border-radius: 2px;
}



.toggle-icon{
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;  
    margin-left: 20px;  
    background: #fff;
    border-radius: 50%;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
     width: 100%;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px 5px;
    padding: 0px;
    
}

ul li{
display: inline-block;
margin: 2px 2px;
font-size: 15px;
cursor: pointer;
padding-left: 2px;
text-align: center;
width: 70px;
background: #867f7a;
color: #0c0b0b;

}

.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    max-height: 30px
}

.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 15px;
    max-width: 150px;
}

.search-box input::placeholder{
    color: #fff;
}

.search-box img{
    width: 20px;
    cursor: pointer;  
}

.dark .navbar{
    background: #000;
    color: #fff;
}

.dark.search-box{
    background: #222;
    
}

.dark.search-box input{
    color: #fff;
    
}

.dark.search-box input::placeholder{
    color: #fff;
    
}